* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
}
:root {
    --clr: #000000;
}
body {
    display: flex;
    background: var(--clr);
    background-image: radial-gradient(circle, #000000da, #000000), url(wallpaper.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    line-height: 1.25;
    min-height: 100vh;
}
.KjYo-632 {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 15px;
}
.SpHz-752 a {
     position: relative;
         color: #b4b4b4;
         text-decoration: none;
         text-transform: uppercase;
         font-size: 10px;
         padding: 10px 10px;
         transition: 0.2s; }
         .DkAe-195 h1 {
             position: relative;
                 color: #b4b4b4;
                 text-decoration: none;
                 text-transform: uppercase;
                 font-size: 10px;
                 font-weight: 100;
                 margin-top: 12px; }
                 .DkAy-782 h2 {
                     position: relative;
                         color: #b4b4b4;
                         text-decoration: none;
                         text-transform: uppercase;
                         font-size: 10px;
                         font-weight: 100;
                         margin-top: 12px; }
                         .JsDk-113 h3 {
                             position: relative;
                                 color: #b4b4b4;
                                 text-decoration: none;
                                 text-transform: uppercase;
                                 font-size: 8px;
                                 font-weight: 100;
                                 left: 215px;
                                 top: 16px;
                                 display: flex; }
                                 button {
                                     position: relative;
                                         color: #b4b4b4;
                                         text-transform: uppercase;
                                         text-decoration: underline;
                                         background: none;
                                         font-size: 10px;
                                         font-weight: 100;
                                         cursor: pointer;
                                         border: none; }
                                         .KfSy-290 {
                                                 display: flex;
                                                 justify-content: center;
                                                 align-items: center;
                                                 margin: 15px;   
                                         }
.SpHz-752 a:hover {
     color: #fff;
}