.SpHz-752 { transition: all 0.5s; }
.SpHz-752:hover {
     transition: all 0.5s;
     transform: translate(0, -3px); }
     .SpHz-752:active {
         transition: all 0.5s;
         transform: translate(0, 1px); }
         @keyframes logoAnimation {
             0% { transform: translateY(0px); }
             50% { transform: translateY(5px); }
             100% { transform: translateY(0px); }}
             img { animation: logoAnimation 2s infinite; }